<%- include('../../partials/admin-header') %>
<%- include('../../partials/msg') %>

<body>
    <div class="geralHomeadm">

        <%- include('../../partials/admin-navbar') %>

        <!-- Conteúdo principal -->
        <section class="area-produtos">
            <div class="container-novo-produto">
                <div class="conteudo-novo-produto">
                    <form action="/Admin/CategoriasBlog/Editar" method="POST" id="editCategoriaBlog-form">
                        <input type="hidden" name="id" value="<%= editarCategoria.id_categoriaBlog %>">

                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" placeholder="Nome da categoria" value="<%= editarCategoria.nome_categoriaBlog %>" required>

                        <label for="slug">Slug:</label>
                        <input type="text" id="slug" name="slug" placeholder="Slug da categoria" value="<%= editarCategoria.slug_categoriaBlog %>" required>

                        <button type="submit">Editar categoria</button>
                    </form>

                    <div class="addNovobtn">
                        <a href="/Admin/Categorias-Blog">
                            <button>Voltar</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="/js/script.js"></script>
</body>
