<!-- Cabeçalho -->
<%- include('../../partials/usuario-header', { title: 'Orçamento'}) %>

<body>
    <% let produtosData = [] %>

    <%- include('../../partials/msg') %>
    <%- include('../../partials/usuario-navbar') %>

    <div id="orcamento-section">
        <h2>Seu Orçamento</h2>
        <div id="orcamento-items"> 
            <% if (produtos.length > 0) { %>
                <% produtos.forEach(item => { %>
                    <div class="orcamento-item">
                        <img src="<%= item.primeiraImagem %>" alt="Imagem do Produto">
                        <div class="orcamento-info">
                            <p class="orcamento-nome"><%= item.nome_produto %></p>
                            <p class="orcamento-quantidade">Quantidade: <%= item.quantidade %></p>
                        </div>
                        <form action="/Excluir-Carrinho" method="POST" class="deletarCarrinho-form">
                            <input type="hidden" name="id" value="<%= item.id_produto %>">
                            <input type="hidden" name="id_usuario" value="<%= user.id_usuario %>">
                            <button class="excluir-item">Excluir</button>
                        </form>
                    </div>
                <% }) %>
            <% } else { %>
                <p>Seu orçamento está vazio.</p>
            <% } %>
        </div>
        <form action="/Orcamento/finalizarOrcamento" method="POST" id="orcamentoForm">
            <% produtos.forEach(item => { %>
                <% produtosData.push({ nome: item.nome_produto, quantidade: item.quantidade }) %>  
            <% }) %>

            <input type="hidden" name="produtos" value='<%= JSON.stringify(produtosData) %>'>

            <button id="finalizarOrcamentoBtn">Finalizar Orçamento</button>
        </form>
        <!-- Se der algum erro ver esse botão de voltar -->
        <button onclick="history.back()" id="finalizarOrcamentoBtn">Voltar</button>  
    </div>

    <!-- Rodapé -->
    <%- include('../../partials/usuario-footer') %>

</body>

</html>